<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		
	</header>
	<main>
		<div class="photo">
			<% @posts.each do |post| %>
				<img src=<%= photo_url(post) %> />
			<% end %>
		</div>
	</main>
	<footer>
		
	</footer>
</body>
</html>
