<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<title></title>
</head>
<body>
	<header>
		
	</header>
	<main>
			<% @posts.each do |post| %>
		<div class="photo">
				<img src=<%= photo_url(post) %> />
		</div>
			<% end %>
	</main>
	<footer>
		
	</footer>
</body>
</html>
